<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailPassword" value="Cr0cod1le"/>
    <add key="FromAddress" value="notifiersonarr@gmail.com"/>
    <add key="KaylaShows" value="Keeping Up With The Kardashians|Glam Masters"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>