################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
src/**/[Bb]in/
src/**/[Oo]bj/
